<h6 class='info'>KABOOM allows you to plan a trip curated to your specifications. Begin by clicking the button to begin your first KABOOM! adventure.</h6>
<div class="fullscreen">
  <img class="img" src="http://bit.ly/2ht9vrl" />
    <ul class="slides">
      <li>
        <div class="caption center-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
    </ul>
  </div>

<div class='big-boom'>
  <h1 class='big-kaboom'><%= link_to "KABOOM", libraries_path %></h1>
</div>
